! Xorg !
! Set high DPI on laptop, except external displays are connected
#if defined(SRVR_clarch_xps13) && NUM_DISPLAYS == 1
Xft.dpi:			120
#endif
Xft.antialias:			1

! Colors !
! special
*.foreground:   #444444
*.background:   #222222
! black
*.color0:       #282a2e
*.color8:       #373b41
! red
*.color1:       #a54242
*.color9:       #cc6666
! green
*.color2:       #8c9440
*.color10:      #b5bd68
! yellow
*.color3:       #de935f
*.color11:      #f0c674
! blue
*.color4:       #5f819d
*.color12:      #81a2be
! magenta
*.color5:       #85678f
*.color13:      #b294bb
! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7
! white
*.color7:       #707880
*.color15:      #c5c8c6

! urxvt !
URxvt.perl-ext-common: 		default,matcher,resize-font
URxvt.cursorBlink: 		true
URxvt.cursorUnderline:		true
URxvt.scrollBar: 		false
URxvt.foreground: 		white
URxvt.background:		rgba:0c00/0c00/0c00/c000
URxvt.depth:			32
!URxvt.blurRadius:		32
URxvt.font:			xft:UbuntuMono Nerd Font:size=16
! COPY & PASTE
! Unbind previous copy & paste keyboard shortcuts
URxvt.keysym.Control-Meta-c: 	builtin-string:
URxvt.keysym.Control-Meta-v: 	builtin-string:
! Bind to new keyboard shortcuts
URxvt.keysym.Shift-Control-V: 	eval:paste_clipboard
URxvt.keysym.Shift-Control-C: 	eval:selection_to_clipboard
URxvt.iso14755:			false
URxvt.iso14755_52:		false
! Clickable links
URxvt.url-launcher: 		/usr/bin/xdg-open
URxvt.matcher.button: 		1
URxvt.matcher.rend.0: 		Uline Bold fg4
